.header {
    width: 600px;
    height: 60px;
    border: 1px solid black;   
    display: flex;
    margin-left: 30px;
}

.cuadrito {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 10px;
}

.nombre {
    margin-left: 20px;
    margin-top: 20px;
}